@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');


body{
	margin:0;
	padding:0;
	 background: linear-gradient(to bottom, #7927b2, #9980FA);

}

#main_container{
	max-width: 100%;
	display: flex;
	flex-wrap:  wrap;
	justify-content:center;
  align-items:center;
}
.gifBlock{
	margin:5px 20px;
	overflow: hidden;
    position: relative;
    -webkit-box-shadow: 2px 5px 5px 1px rgba(71, 71, 135,0.5); 
	box-shadow: 2px 5px 5px 1px rgba(71, 71, 135,0.5); 
	border-bottom-left-radius: 5px;
	border-bottom-right-radius:5px;
}
.gifBlock img{
	width:100%;
	border-radius: 5px;
}
.gifTitle{
		font-family: 'Zilla Slab Highlight', cursive;
	font-weight: bold;
 position: absolute;
  bottom: 0px;
  background-color: rgba(44, 44, 84,0.7);
font-size: 16px;

  width:100%;
  text-align: center;
  color: white;
  padding: 5px 0px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius:5px;
}
#title_wrapper{
 display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;

}
p{
height: 90px;
  margin: 0 auto;
  display: inline-block;
  padding: 0px;
  background: linear-gradient(to right, #7927b2, #fb3182);
   font-size: 90px;
  font-weight: bold;
  color:#fff;
  text-transform: uppercase;
  text-align: center;
  	font-family: 'Zilla Slab Highlight', cursive;
	font-weight: bold;

}
#button_wrapper{
	display: flex;
justify-content: center;
}
#reload_button{
	background: #fff;
	display: inline-block;
	padding:10px 15px;
	color: #7927b2;
	margin:10px 0px; 
	font-family: 'Raleway', sans-serif;
	border-radius: 3px;
	text-transform: uppercase;
}
#reload_button:hover{
-webkit-box-shadow: 2px 5px 5px 1px rgba(71, 71, 135,0.5); 
	box-shadow: 2px 5px 5px 1px rgba(71, 71, 135,0.5); 
	cursor: pointer;
}
#reload_button:active{
background-color: rgba(153, 128, 250,1.0);
color: #fff;

}
@media only screen and (max-width: 800px) {
 p{
 	height: 50px;
 	font-size: 50px;
 }
}