@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');



body{
	margin:0;
	padding:0;
	 background: linear-gradient(to bottom, #7927b2, #9980FA);
	 background-image: url("asfalt-light.png"), url("always-grey.png"),linear-gradient(to bottom, #7927b2, #9980FA);
	 min-height: 100vh;

}

#main_container{
	max-width: 100%;
	display: flex;
	flex-wrap:  wrap;
	justify-content:center;
  align-items:center;
}
.gifBlock{
	margin:5px 20px;
	overflow: hidden;
    position: relative;
box-shadow: 12px -9px 44px -6px rgba(71,71,135,0.89);
-webkit-box-shadow: 12px -9px 44px -6px rgba(71,71,135,0.89);
-moz-box-shadow: 12px -9px 44px -6px rgba(71,71,135,0.89);
	border-top-left-radius: 5px;
	border-top-right-radius:5px;
}
.gifBlock img{
	width:100%;
	transition: width 2s;
	opacity: 0.9;
}
.gifBlock img:hover{
	width:120%;
	opacity: 1.1;
}
.gifTitle{
font-family: 'Barlow', sans-serif;
 position: absolute;
  bottom: 5px;
   background: linear-gradient(to top, rgba(153, 128, 250,1), rgba(112, 111, 211,0.85));
font-size: 16px;
  width:100%;
  text-align: center;
  color: #1B1464;
  padding: 5px 0px;
}
#title_wrapper{
 display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;

}
p{
height: 90px;
  margin: 0 auto;
  display: inline-block;
  padding: 0px;
  background: linear-gradient(to right, #7927b2, #fb3182);
   font-size: 90px;
  font-weight: bold;
  color:#fff;
  text-transform: uppercase;
  text-align: center;
  	font-family: 'Zilla Slab Highlight', cursive;
	font-weight: bold;

}
#center_wrapper{
	display: flex;
justify-content: center;
}
.button{
	background: #fff;
	display: inline-block;
	padding:10px 15px;
	color: #7927b2;
	margin:10px 10px; 
	font-family: 'Raleway', sans-serif;
	border-radius: 3px;
	text-transform: uppercase;
}
.button:hover{
-webkit-box-shadow: 2px 5px 5px 1px rgba(71, 71, 135,0.5); 
	box-shadow: 2px 5px 5px 1px rgba(71, 71, 135,0.5); 
	cursor: pointer;
}
.button:active{
font-weight: bold;
-webkit-box-shadow: 2px 7px 5px 1px rgba(71, 71, 135,0.8); 
	box-shadow: 2px 7px 5px 1px rgba(71, 71, 135,0.8); 
}
#copyryght{
	text-align: center;
	font-family: 'Zilla Slab Highlight', cursive;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	font-size:18px;
	margin:20px auto;
}
#copyryght:hover{
letter-spacing: 3px;
}
/* LOADER*/

.loader  {
  animation: rotate 1s infinite;  
  height: 50px;
  width: 50px;
  margin-top: 100px;
}

.loader:before,
.loader:after {   
  border-radius: 50%;
  content: '';
  display: block;
  height: 20px;  
  width: 20px;
}
.loader:before {
  animation: ball1 1s infinite;  
  background-color: #cb2025;
  box-shadow: 30px 0 0 #f8b334;
  margin-bottom: 10px;
}
.loader:after {
  animation: ball2 1s infinite; 
  background-color: #00a096;
  box-shadow: 30px 0 0 #97bf0d;
}

@keyframes rotate {
  0% { 
    -webkit-transform: rotate(0deg) scale(0.8); 
    -moz-transform: rotate(0deg) scale(0.8);
  }
  50% { 
    -webkit-transform: rotate(360deg) scale(1.2); 
    -moz-transform: rotate(360deg) scale(1.2);
  }
  100% { 
    -webkit-transform: rotate(720deg) scale(0.8); 
    -moz-transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #f8b334;
  }
  50% {
    box-shadow: 0 0 0 #f8b334;
    margin-bottom: 0;
    -webkit-transform: translate(15px,15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #97bf0d;
  }
  50% {
    box-shadow: 0 0 0 #97bf0d;
    margin-top: -20px;
    -webkit-transform: translate(15px,15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #97bf0d;
    margin-top: 0;
  }
}
.hidden{
	display: none;
}


@media only screen and (max-width: 800px) {
 p{
 	height: 50px;
 	font-size: 50px;
 }
}